input {
    height: 80px;
    font-size: 48px;
    margin: 40px;
}

form {
    font-size: 50px;
    font-weight: 900;
}

.button {
    background: rebeccapurple;
    color: white;
    border-radius: 10px;
}

