input {
    height: 80px;
    font-size: 48px;
    margin: 40px;
}

form {
    font-size: 50px;
    font-weight: 900;
}

.button {
    background-image: url("love.png");
    color: black;
    font-weight: 700;
    border-radius: 10px;
    outline: none;
}

.container {
    background: pink;
   
}

h1 {
    font-size: 80px;
    color: red;
    
}

h2 {
    font-weight: 900;
}

